Brain storm
----
- Subscribe to PodCast
- Determine which ones to download + not download
- Download PodCasts automatically
- Play PodCasts
- Transfer to device
- Notify of new PodCasts
- Rules for PodCasts


Phase 1
----
- Subscribe to PodCasts
- Download newest episodes of PodCasts automatically
- Play selected episodes


Architecture
----
UI
  WinApp
AppLayer
  AppServices
  PodCastDownloader
Domain Layer
  DomainServices
  Repository
  PodCastRepository
    IList<PodCast> GetPodCasts()
    IList<Episode> GetEpisodes(PodCast)
    [ byte[] StreamEpisode(Episode, offset, bufferSize) ]
  ViewModel
  Model
    PodCast
      NumberToDownload
    Episode


Subscribe:
  List of podcasts
  Add/edit pod cast

Download:
  Async: queue of episodes
  Download N newest automatically

Play:
  Select episode and play
