Brain storm
----
- Subscribe to PodCast
- Determine which ones to download + not download
- Download PodCasts automatically
- Play PodCasts
- Transfer to device
- Notify of new PodCasts
- Rules for PodCasts


Phase 1
----
- Subscribe to PodCasts
- Download newest episodes of PodCasts automatically
- Play selected episodes


Architecture
----
WinApp
AppServices
DomainServices
Utility
  PodCastDownloader
Repository
  PodCastRepository
ViewModel
Model
  PodCast
  Episode
